<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>
      <%=@clientname%>様<br />
      <br />
      ○○様より好み登録の依頼がありました。<br />
      以下のURLより登録をお願い致します。<br />
      https://rails-ksaichi-kensaichi.c9users.io/preferences/<%=@id%>/edit<br />
      <br />
      PwC食べログ事務局
      <br />
    </p>
  </body>
</html>