<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>
      <%=@clientname%>様<br />
      <br />
      <%=@username%>様より会食好みの登録依頼がありました。<br />
      以下のURLより登録をよろしくお願い致します。<br />
      https://hackathon2018-saichi-kensaichi.c9users.io/preferences/<%=@id%>/edit<br />
      <br /><br />
      PwC食べログ<br />
      ↓↓↓新規登録されるの方はこちら↓↓↓<br />
      https://hackathon2018-saichi-kensaichi.c9users.io/users/new<br />
      <br />
    </p>
  </body>
</html>